{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group mb-3">
                        
                        <input type="password" class="form-control" id="password" name="password" required
                        >
                        <span class="input-group-text">
                           <i class="bi bi-eye" id="togglePassword" style="cursor: pointer;"></i>
                           </span>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");
    
    togglePassword.addEventListener("click", function () {
       
      // toggle the type attribute
      const type = password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);
      // toggle the eye icon
      this.classList.toggle('bi-eye');
      this.classList.toggle('bi-eye-slash');
    });


</script>

{% endblock %}
{% endblock %}